<!-- Macro que se encarga de mostrar los errores de validación -->
{% macro mostrar_error(campo) %}
	{% if campo.errors %} <!--Si existen errores -->
	  <div class="alert alert-danger" role="alert">
	  {% for error in campo.errors %} <!--Recorrer errrores-->
	   	{{ error }}<br><!--Mostrar error -->
	  {% endfor %}
	  </div>
	{% endif %}
{% endmacro %}

<!-- Macro que se encarga de mostrar los campos del formulario -->
{% macro mostrar_campo(campo) %}
	{{ campo.label }} <!-- Mostrar etiqueta -->
	{{ campo(**kwargs)|safe }} <!-- Mostrar campo -->
	{{mostrar_error(campo)}}  <!-- Llamar a macro que muestra el error -->
{% endmacro %}

<!-- Macro que se encarga de mostrar los campos tipo radio del formulario -->
{% macro mostrar_campo_radio(campo) %}
	{{ campo.label }} <!-- Mostrar etiqueta -->
	<br/>
	{% for subfield in campo %} <!--Recorrer cada una de las opciones -->
			{{ subfield }}  <!-- Mostrar opción -->
	  		{{ subfield.label }} <!-- Mostrar etiqueta -->
	{% endfor %}
	{{mostrar_error(campo)}} <!-- Llamar a macro que muestra el error -->
{% endmacro %}


<!-- Macro que se encarga de mostrar los campos tipo submit formulario -->
{% macro mostrar_campo_submit(campo) %}
	{{ campo(**kwargs)|safe }} <!-- Mostrar campo -->
{% endmacro %}
