{% extends 'main.html' %}

{% block contenido %}

<div class="container">
  <br/><br/
  <div class="row">
    <div class="col-md-12">
        <b>E-mail:</b> admin@mail.com <br/>
        <b>Pass:</b> 12345 <br/>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
       <!-- Crear URL que llama a la función 'insertar' -->
        <a class="btn btn-lg btn-success btn-block" href="{{url_for('insertar')}}">Insertar</a>
    </div>
    <div class="col-md-4">
       <!-- Crear URL que llama a la función 'actualizar' -->
       <a class="btn btn-lg btn-success btn-block" href="{{url_for('actualizar')}}">Actualizar</a>
    </div>
    <div class="col-md-2"></div>
    </div>
  </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock%}
