{% from "form_macros.html" import mostrar_campo, mostrar_campo_submit %}
<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <!--Definición del bloque que contiene la cabecera -->
      {% block head %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <title>Titulo</title>

    {% endblock %}
  </head>
  <body>

 <!--Definición del bloque que contiene el menú -->
{% block menu %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <!--Muestra la variable titulo -->
      <a class="navbar-brand" href="#">{{ titulo }}</a></a>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"  id="navbarSupportedContent">
     <ul class="navbar-nav">
      <li class="nav-item active">
         <!-- Crear URL que llama a la función 'index' -->
        <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!-- Crear URL que llama a la función 'insertar' -->
        <a class="nav-link" href="{{url_for('insertar')}}">Insertar</a>
      </li>
      <li class="nav-item">
        <!-- Crear URL que llama a la función 'actualizar' -->
        <a class="nav-link" href="{{url_for('actualizar')}}">Actualizar</a>
      </li>
      <li>
          <a class="nav-link"  data-toggle="modal" data-target="#modalLoginForm">Login
          </a>
     </li>
     </ul>
   </div>
</nav>
{% endblock %}
  <br/>
 <div class="container">
   <div class="row">
     <div class="col-md-12">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
         {% endif %}
      {% endwith %}
    </div>
  </div>
</div>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form method="POST" action="{{ url_for("login") }}" enctype="multipart/form-data" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ mostrar_campo(formularioLogin.email , class='form-control')}}
        {{ mostrar_campo(formularioLogin.password , class='form-control')}}
        <br/>{{ mostrar_campo_submit(formularioLogin.submit , class='btn btn-success')}}
      </form>
      </div>
  </div>
</div>
</div>



   <!--Definición del bloque que contendrá el contenido -->
  {% block contenido %}
  {% endblock %}
  <br/>
   <!--Definición del bloque que contiene el pie -->
  {% block pie %}
  <footer class="footer" style="background-color:#343a40;padding:15px">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5" >
            <p style="color:white">Aenean purus mi, laoreet et aliquam quis, imperdiet non risus. Nulla id luctus enim, convallis laoreet urna. Curabitur iaculis dictum ante.</p>
        </div>


      </div>
    </div>
  </footer>
 {% endblock %}
