{% extends 'main.html' %}
<!--Importar macros -->
{% from "form_macros.html" import mostrar_campo,mostrar_campo_radio, mostrar_campo_submit %}
{% block contenido %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
	    <form method="POST" action="{{ url_for(destino) }}" enctype="multipart/form-data" >
	      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	     	<div class="form-row">
	    		<div class="form-group col-md-6">
             <!--Llama a macro para mostrar campo, pasa clase a palicar por parámetro -->
	      			{{ mostrar_campo(formulario.nombre, class='form-control' )}}
	    		</div>
	    		<div class="form-group col-md-6">
	      			{{ mostrar_campo(formulario.apellido , class='form-control')}}
	    		</div>
	  		</div>

	  		<div class="form-row">
	    		<div class="form-group col-md-3">
	      			{{ mostrar_campo(formulario.email , class='form-control')}}
	      		</div>
            <div class="form-group col-md-3">
                {{ mostrar_campo(formulario.usuario, class='form-control' )}}
            </div>
            <div class="form-group col-md-3">
                {{ mostrar_campo(formulario.fechaNac, class='form-control' )}}
            </div>
            <div class="form-group col-md-3">
              {{ mostrar_campo(formulario.hora, class='form-control' )}}
          </div>

	  		</div>

	  		<div class="form-row">

	    	   <div class="form-group col-md-4">
          <!-- Si el formulario es llamado para insertar mostrar el campo, sino mostrar la imagen -->
	    		{% if(destino=="insertar") %}
	      			{{ mostrar_campo(formulario.imagen , class='form-control')}}
	      	{% endif %}
	      	{% if(destino=="actualizar") %}
	           <img style="width:150px;margin-left:20px;margin-bottom:-75px;" src="{{url_for('static', filename='img/'+formulario.imagen.data)}}" >
	      	{% endif %}
	      	</div>
          <div class="form-group col-md-4">
            {{ mostrar_campo(formulario.password , class='form-control')}}
            <br/>
            {{ mostrar_campo(formulario.opciones , class='form-control')}}
          </div>
          <div class="form-group col-md-4">
            {{ mostrar_campo(formulario.confirmar , class='form-control')}}
            <br/>
            <!--Llama a macro especial para mostrar campos de tipo radio -->
            {{ mostrar_campo_radio(formulario.sexo )}}
          </div>
	  		</div>
	  		<div class="form-row">
	    	    <div class="form-group col-md-4">

	      		</div>
	      		<div class="form-group col-md-4">

	      		</div>
            <div class="form-group col-md-4">
            </div>
        </div>
        <div class="form-row">
	    		<div class="form-group col-md-12">
	      			{{ mostrar_campo(formulario.bio , class='form-control')}}
	      		</div>
	       </div>
         <!--Llama a macro especial para mostrar el campo de submit -->
	 			{{ mostrar_campo_submit(formulario.submit , class='btn btn-success')}}
	  	</form>
  	</div>
  </div>
</div>
{% endblock%}
